body {
    background: url(src/img/bkg-img.jpg) no-repeat center center fixed;
    background-size: cover;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    font-style: normal;
    font-family: 'Lato';
    color: white;
}